<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/post.css'%}">
    <title>Document</title>
</head>
<body>
    <table>
            <th>id</th>
            <th>name</th>
            <th>title</th>
            <th>date</th>
            {% for avto in content%}
        <tr>
            <td>{{content.id}}</td>
            <td>{{content.name}}</td>
            <td>{{content.title}}</td>
            <td>{{content.date}}</td>
        </tr>
            {% endfor %}
    </table>
</body>
</html>